manifest {
    name                                  = 'nf-mito-calling'
    version                               = 'v2.0.0-beta1'
    description                           = 'mtDNA Variant Calling'
    author                                = 'Schönherr / Weissensteiner / Forer'
    homePage                              = 'https://github.com/haansi/nf-mito-calling'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    project                = null
    project_date           = "`date`"
    files                  = null    
    output                 = null

    service = [
        name: "nf-mitocalling",
        email: null,
        url : null
    ]

    config = [
        send_mail: false
    ]

    
}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    process.container                 = 'genepi/nf-mitocalling'
    docker.enabled                    = true
    docker.userEmulation              = true
    singularity.enabled               = false

        
    development {
        process.container                 = 'genepi/nf-mitocalling'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    
    slurm {
        process.executor                  = 'slurm'
        errorStrategy                     = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors                         = '-1'
        maxRetries                        = 3
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    

   test      {
        includeConfig 'tests/test_single_vcf.config'
   }

}
