manifest {
    name                                  = 'mtDNA-Server 2'
    version                               = 'v2.0.1'
    description                           = 'mtDNA Variant Calling'
    author                                = 'Institute of Genetic Epidemiology'
    homePage                              = 'https://github.com/genepi/mtdna-server-2'
    mainScript                            = 'main.nf'
    nextflowVersion                       = '!>=21.04.0'
}

// Global default params, used in configs
params {

    project                = null
    output                 = null
    project_date           = "`date`"
    files                  = null    
    reference              = "rcrs"
    mode                   = "mutserve"
    detection_limit        = 0.01    
    mapQ                   = 20
    baseQ                  = 20
    alignQ                 = 30


    service = [
        name: "mtDNA-Server 2",
        url: "https://mitoverse.i-med.ac.at",
        email: "noreply@i-med.ac.at",
        github: "https://github.com/genepi/mtdna-server-2"

    ]

    config = [
        send_mail: false
    ]

    
}

profiles {
    debug { process.beforeScript          = 'echo $HOSTNAME' }

    process.container                 = 'quay.io/genepi/mtdna-server-2:v2.0.0'
    docker.enabled                    = true
    docker.userEmulation              = true
    singularity.enabled               = false

        
    development {
        process.container                 = 'genepi/mtdna-server-2'
        docker.enabled                    = true
        docker.userEmulation              = true
        resume                            = true
        singularity.enabled               = false
    }

    docker {
        docker.enabled                    = true
        docker.userEmulation              = true
        singularity.enabled               = false
    }

    singularity {
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    
    slurm {
        process.executor                  = 'slurm'
        errorStrategy                     = {task.exitStatus == 143 ? 'retry' : 'terminate'}
        maxErrors                         = '-1'
        maxRetries                        = 3
        singularity.enabled               = true
        singularity.autoMounts            = true
        docker.enabled                    = false
    }
    

   test      {
        includeConfig 'tests/test_single_vcf.config'
   }}
