process {

  errorStrategy = { task.exitStatus == null || task.exitStatus in ((130..145) + 104 + 151) ? 'retry' : 'terminate' }
  maxErrors     = '-1'
  maxRetries    = 3
  
  withName: 'INDEX_CREATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'CALCULATE_STATISTICS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }
  
  withName: 'INPUT_VALIDATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'QUALITY_CONTROL' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'MUTSERVE' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'MUTECT2' {
    cpus = { 1 * task.attempt }
    memory = { 4.GB * task.attempt }
  }

  withName: 'FILTER_VARIANTS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'MERGING_VARIANTS' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'VCF_MERGE' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }  

  withName: 'HAPLOGROUPS_CONTAMINATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'ANNOTATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'SAMPLE_REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }  

} 
