process {

  withName: 'INDEX' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'CALCULATE_STATISTICS' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'INPUT_VALIDATION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'QUALITY_CONTROL' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }
  
  withName: 'MUTSERVE' {
    cpus = { 4 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'MUTECT2' {
    cpus = { 1 * task.attempt }
    memory = { 2.GB * task.attempt }
  }

  withName: 'ANNOTATE' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'HAPLOGROUP_DETECTION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }  

  withName: 'CONTAMINATION_DETECTION' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }

  withName: 'REPORT' {
    cpus = { 1 * task.attempt }
    memory = { 1.GB * task.attempt }
  }